.arrow {
  height: 35px !important;
  width: 35px !important;
  background: #fff !important;
  border-radius: 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04) !important;
  z-index: 10;

  &::before {
    content: none !important;
  }

  &:hover {
    background: darken(#fff, 5%) !important;
  }

  &:active {
    background: darken(#fff, 10%) !important;
  }
}

.nextArrow {
  right: -17.5px !important;
}

.prevArrow {
  left: -17.5px !important;
  transform: rotate(180deg) translate(0, 50%) !important;
}
