.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px;
  border-bottom: 1px solid #eaeaea;
}

.headerLogo {
  display: flex;
}

.description {
  margin-left: 16px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 14px;
  color: #9d9d9d;
}

.cartBlock {
  display: flex;
  align-items: center;
  cursor: pointer;

  & > span {
    font-weight: 600;
    font-size: 14px;
    color: #5c5c5c;
  }

  &:hover {
    .cartIcon path {
      stroke: #a5d364;
    }
  }
}

.cartIcon {
  margin-right: 10px;
}

.headerButtons {
  display: flex;
  align-items: center;
}

.favoritesIcon,
.orderIcon {
  margin-left: 30px;
  cursor: pointer;
}

.favoritesIcon {
  &:hover {
    path {
      fill: #dd8484;
    }
  }
}

.orderIcon {
  &:hover {
    path {
      fill: #88c3e7;
    }
  }
}
