body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  background: #fff;
}

.cartBtn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 55px;
  background: #9dd458;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  max-width: 250px;

  &:hover {
    background: darken(#9dd458, 5%);
  }

  &:active {
    background: darken(#9dd458, 10%);
  }
}
