.title {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  & > h2 {
    margin-left: 20px;
  }
}

.backBtn {
  border: 1px solid #f2f2f2;

  &:hover {
    background: darken(#fff, 5%);
  }
}

.productList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -33.335px;

  @media (max-width: 1200px) {
    margin: 0 -35px;
  }

  @media (max-width: 920px) {
    margin: 0 -45px;
  }
}

.productListLoader {
  margin-top: 72px;
}
